#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.row-placement {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap : 10px;
}

.cross-text {
  text-decoration: line-through;
}

.list-headings {
  display: flex;
  flex-direction: row;
  gap : 50px
}
